.table {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

.row {
  display: flex;
  padding: 10px;
  box-sizing: border-box;
  flex-direction: row;
  margin-bottom: 20px;
}

.cell {
  display: flex;
  flex-basis: 100%;
  padding: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

.table-header {
  font-weight: 700;
}

.rented-by-you {
  background-color: lightgreen;
}

.rented-by-others {
  background-color: lightcoral;
}

.available {
  background-color: rgb(141, 185, 232);
}